.game-card-user {
  min-height: 110px;

  .gcu-avatar {
    position:absolute;
    margin: 20px 0px 0px 10px;
    height: 80px;
    width: 80px;
  }

  .gcu-right-container {
    padding-left: 110px;
    min-height: 42px;
  }
}