$gosu-blue: #1a3061;
$gosu-light-blue: #e0e6f3;
$text-on-gosu-blue: #ffffff;
$gosu-winner-color: gold;
$gosu-coins-color: #FFD700;

.gosu-blue-bg {
    background-color: $gosu-blue;
}

.gosu-blue-text {
    color: $gosu-blue;
}

.gosu-light-blue-bg {
    background-color: $gosu-light-blue;
}

.gosu-empire-logo-header {
    height: 20px;
    width: auto;
}

.gosu-coins-gold {
    color: $gosu-coins-color;
}

@import "modal";
@import "errors";
@import "page_notifications";

@import "game_card_full_user";
@import "game_card_user";

@import "my_games";
@import "replay_drop_zone";

@import "landing";
@import "win_states";

@import "win_card";

@import "symbols";


